{% extends "base.html" %}
{% block content %}
    <section>
    <div class="container">
        <h1>Fact sticker</h1>
    <p>Paste the web address of something you want Open AI to test you on</p>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form action="/questions" method="post">
        {{ url_form.hidden_tag() }}
        {{ url_form.url.label }}
        {{ url_form.url() }}
        {{ url_form.submit() }}
<!-- how do we add required?-
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" required>
    <button type="submit">Submit</button>-->
</form>
    </div>
    </section>
{%  endblock %}
